// ===== protons > menu =====

// ...

.menu {
  float: right;

  .header & {
    @include membrane(
      $min: (
        type: molecule,
        name: nav,
        size: full,
        constraint: min
      )
    ) {
      padding: 0;
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      position: absolute;
      width: 1px;
    }
  }
}
