// ===== protons > person =====

// ...

.person {

  display: block;

  & + & {
    @include lead(
      $dividend: 38
    );
  }

  .legend + & {
    @include lead(
      $dividend: 74
    );
  }

  // ===== medium, above =====
  @include membrane(
    $min: (
      type: cell,
      name: cell-base,
      size: medium,
      constraint: min
    )
  ) {
    .legend + & {
      @include lead(
        $dividend: 72
      );
    }
  }
}
