// ===== protons > submit =====

// ...

.submit {
  @extend %button;
  @extend %border-none;
  width: 100%;
  float: right;
  clear: right;

  .details + & {
    @include lead(
      $dividend: 81
    );
  }

  // ===== large, above =====
  @include membrane(
    $min: (
      type: cell,
      name: contact,
      size: large,
      constraint: min
    )
  ) {
    @include atom(
      $name: reasons,
      $parent: form,
      $size: large
    );
  }

  // ===== x-large, above =====
  @include membrane(
    $min: (
      type: cell,
      name: contact,
      size: x-large,
      constraint: min
    )
  ) {
    @include atom(
      $name: persons,
      $parent: form,
      $size: x-large
    );
  }
}
